* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    background-color: #f8a5c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding: 0px 20px;
}

header nav li {
    font-family: "roboto", sans-serif;
    display: inline;
    font-size: 17px;
    padding-left: 20px;
    cursor: pointer;
}

header nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

header h1 {
    color: #fff;
    font-family: "Birthstone", sans-serif;
    font-size: 50px;
}

#sobre {
    display: flex;
    padding-top: 24px;
}


.txtSobre {
    padding-left: 24px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.txtSobre h2,
.txtSobre h3 {
    font-family: "Birthstone";
}

.txtSobre h2 {
    font-size: 32px;
}

.txtSobre h3 {
    font-size: 24px;
}

.txtSobre p {
    font-family: "roboto";
    font-size: 16px;
}

#imgHome {
    width: 640px;
}

.imgsLogo img {
    height: 40px;
    width: 100px;
    padding-right: 24px;
}

