* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #ffefef;
}

header .container {
    background-color: #f8a5c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding: 0px 20px;
}

header nav li {
    font-family: "roboto", sans-serif;
    display: inline;
    font-size: 17px;
    padding-left: 20px;
    cursor: pointer;
}

header nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    -webkit-text-stroke: 0.1px #fff;
}

header h1 {
    color: #fff;
    font-family: "Birthstone", sans-serif;
    font-size: 50px;
    -webkit-text-stroke: 0.3px #fff;
}

#sobre .container {
    display: flex;
    padding-top: 24px;
}


.txtSobre {
    padding-left: 24px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.txtSobre h2,
.txtSobre h3,
#contact h2,
#contact h3 {
    font-family: "Birthstone";
}

.txtSobre h2 {
    font-size: 32px;
}

.txtSobre h3 {
    font-size: 24px;
}

.txtSobre p {
    font-family: "roboto";
    font-size: 16px;
}

#imgHome {
    width: 640px;
}

.imgsLogo img {
    height: 40px;
    width: 100px;
    padding-right: 24px;
}

#contact .contactMethod {
    display: flex;
    justify-content: space-between;
}

#contact h2 {
    font-size: 40px;
}

#contact h3 {
    font-size: 26px;
}

.form {
}

.form input,
.form textarea,
.form button {
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    width: 320px;
}

.form textarea {
    resize: none;
    height: 150px;
}

.form input:focus, .form textarea:focus {
    outline-color: #f8a5c2;
}

.form button {
    background-color: #f8a5c2;
    color: #ffefef;
    font-family: 'roboto' sans-serif;
    font-size: 16px;
    justify-content: center;
    font-weight: 00;
    border: none;
    cursor: pointer;
    
}

.form button:hover {
    background-color: #f8b6cc;
}

.brands {

}

.brandsWork {

}

.brandsWork li {
    list-style:none;
}

.brandsWork img {
    max-height: 50px;
}


footer {
    background-color: #f8b6cc;
    color:#fff ;
    font-size: 16px;
    font-family: 'roboto';
    text-align: center;
}